.theme-container {
    float: left;
    margin: 0.5em;
}

.theme {
    padding: 1em;
    font-size: 0.86em;
    font-family: 'monospace';
    border: 1px dashed gray;
}

.color-code { text-align: right !important; }
.t { border-bottom: 0px; border-collapse: collapse; }
.t tr td { padding: 0em 1em; text-align: center; /*border-left: 5px solid;*/}
