{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block content %}
<h2>About</h2>
<div>
<p>Xcolors.net is a color theme directory for terminals that support color configuration through
<a href="http://en.wikipedia.org/wiki/X_resources">X resources</a>. It provides a visual presentation
of the themes and will hopefully grow over time with help from the community.</p>

<p>The <a href="https://github.com/tlatsas/xcolors">source code</a> is hosted on github. Head over there to
see how this works, contribute or report any issues.
Also <a href="http://xcolors.net/contribute">see this</a> if you want to contribute your own color themes
or themes you collected over time.</p>

</div>
{% endblock %}
