<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <title>{% block title %}{% endblock %} - xcolors.net</title>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <ul>
                    <li>
                        <span class="title">Xcolors.net</span>
                    </li>
                    <li>
                        Contribute
                    </li>
                    <li>
                        About
                    </li>
                </ul>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                Powered by Flask micro-framework.
            </div>
        </div>
    </body>
</html>
