{% extends "base.html" %}
{% block title %}contribute{% endblock %}
{% block content %}
<h2>Contribute</h2>
<div>
<p>If you want to contribute your own color themes or any themes you collected over time please do so using
the project's <a href="https://github.com/tlatsas/xcolors">github repository</a>.</p>

<ol>
    <li>Fork the xcolors repository.</li>
    <li>Add your theme file(s) in the <span class="bold">themes</span> folder found in the project's root directory</li>
    <li>Commit the newly added files.</li>
    <li>Make a pull request.</li>
    <li>Changes will show here as soon as I push the chages at heroku.<li>
</ol>

<p>For more info for supported file formats see the <span class="bold">README</span> file found in the
git repository.</p>
</div>
{% endblock %}
